<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @summary.description %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @summary.resolution %>
</p>

<p>
  <strong>Starting day:</strong>
  <%= @summary.starting_day %>
</p>

<p>
  <strong>Finishing day:</strong>
  <%= @summary.finishing_day %>
</p>

<%= link_to 'Edit', edit_summary_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
